
@{

    ViewBag.Title = "Home Page";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   

        <div class="jumbotron">
            <h2>HTML Helpers</h2>
            <h2>Completar datos en el Formulario</h2>
            <p class="lead">Bienvenidos a nuestra practica</p>
            <p><a href="Form" class="btn btn-primary btn-lg">Comenzar &raquo;</a></p>

        </div>
</body>
</html>
